{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="span12">
      <form method="POST" action="/down-up-point">
        {% csrf-field %}
        <p>
          down times least:
          <input class="form-control"
                 type="string"
                 name="down-times-least"
                 value="{{down-up-point-down-times-least}}" />
        </p>
        <p>
          down price least:
          <input class="form-control"
                 type="string"
                 name="down-price-least"
                 value="{{down-up-point-down-price-least}}" />
        </p>
        <p>
          up times least:
          <input class="form-control"
                 type="string"
                 name="up-times-least"
                 value="{{down-up-point-up-times-least}}" />
        </p>
        <p>
          up price least:
          <input class="form-control"
                 type="string"
                 name="up-price-least"
                 value="{{down-up-point-up-price-least}}" />
        </p>
        <input type="submit" class="btn btn-primary" value="modify" />
      </form>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <form method="POST" action="/up-point">
        {% csrf-field %}
        <p>
          up times least:
          <input class="form-control"
                 type="string"
                 name="up-times-least"
                 value="{{up-point-up-times-least}}" />
        </p>
        <p>
          up price least:
          <input class="form-control"
                 type="string"
                 name="up-price-least"
                 value="{{up-point-up-price-least}}" />
        </p>
        <input type="submit" class="btn btn-primary" value="modify" />
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="span12">
      <form method="POST" action="/down-point">
        {% csrf-field %}
        <p>
          down times least:
          <input class="form-control"
                 type="string"
                 name="down-times-least"
                 value="{{down-point-down-times-least}}" />
        </p>
        <p>
          down price least:
          <input class="form-control"
                 type="string"
                 name="down-price-least"
                 value="{{down-point-down-price-least}}" />
        </p>
        <input type="submit" class="btn btn-primary" value="modify" />
      </form>
    </div>
  </div>

  <br>
  <div>
    <a href="{{servlet-context}}/reset-all"
       class="btn btn-primary">
      reset all
    </a>
  </div>
  <br>
  <div>
    {{staticmarket|json|safe}}
  </div>
  <div>
    {{my-wallet|json|safe}}
  </div>
  <div>
    net asset diff: {{net-asset-diff|json|safe}}
  </div>
  <div>
    price diff: {{price-diff|json|safe}}
  </div>
  <div>
    {{events|json|safe}}
  </div>
{% endblock %}
