{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-xs-2">
      <p>
        down up point:
      </p>
      <form method="POST" action="/down-up-point">
        {% csrf-field %}
        <p>
          down times least:
          <input class="form-control"
                 type="string"
                 name="down-times-least"
                 value="{{down-up-point-down-times-least}}" />
        </p>
        <p>
          down price least:
          <input class="form-control"
                 type="string"
                 name="down-price-least"
                 value="{{down-up-point-down-price-least}}" />
        </p>
        <p>
          up times least:
          <input class="form-control"
                 type="string"
                 name="up-times-least"
                 value="{{down-up-point-up-times-least}}" />
        </p>
        <p>
          up price least:
          <input class="form-control"
                 type="string"
                 name="up-price-least"
                 value="{{down-up-point-up-price-least}}" />
        </p>
        <input type="submit" class="btn btn-primary" value="modify" />
      </form>
    </div>

    <div class="col-xs-2">
      <p>
        up point:
      </p>
      <form method="POST" action="/up-point">
        {% csrf-field %}
        <p>
          up times least:
          <input class="form-control"
                 type="string"
                 name="up-times-least"
                 value="{{up-point-up-times-least}}" />
        </p>
        <p>
          up price least:
          <input class="form-control"
                 type="string"
                 name="up-price-least"
                 value="{{up-point-up-price-least}}" />
        </p>
        <input type="submit" class="btn btn-primary" value="modify" />
      </form>
    </div>

    <div class="col-xs-2">
      <p>
        down point:
      </p>
      <form method="POST" action="/down-point">
        {% csrf-field %}
        <p>
          down times least:
          <input class="form-control"
                 type="string"
                 name="down-times-least"
                 value="{{down-point-down-times-least}}" />
        </p>
        <p>
          down price least:
          <input class="form-control"
                 type="string"
                 name="down-price-least"
                 value="{{down-point-down-price-least}}" />
        </p>
        <input type="submit" class="btn btn-primary" value="modify" />
      </form>
    </div>

    <div class="col-xs-2">
      <p>
        down net asset baseline:
      </p>
      <form method="POST" action="/down-net-asset-baseline">
        {% csrf-field %}
        <p>
          down net asset baseline:
          <input class="form-control"
                 type="string"
                 name="down-net-asset-baseline"
                 value="{{down-net-asset-baseline}}" />
        </p>
        <input type="submit" class="btn btn-primary" value="modify" />
      </form>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xs-2">
      <a href="{{servlet-context}}/reset-all"
         class="btn btn-primary">
        reset all
      </a>
    </div>

    <div class="col-xs-2">
      <a href="{{servlet-context}}/deals"
         class="btn btn-primary">
        deals
      </a>
    </div>

    <div class="col-xs-2">
      <a href="{{servlet-context}}/events"
         class="btn btn-primary">
        events
      </a>
    </div>

    <div class="col-xs-2">
      <a href="{{servlet-context}}/klines"
         class="btn btn-primary">
        klines
      </a>
    </div>
  </div>
  <br>
  <div>
    {{staticmarket|json|safe}}
  </div>
  <div>
    {{my-wallet|json|safe}}
  </div>
  <div>
    net asset diff: {{net-asset-diff|json|safe}}
  </div>
  <div>
    price diff: {{price-diff|json|safe}}
  </div>
  <div>
    first buy time: {{first-buy-time|json|safe}}
  </div>
  <div>
    last sell time: {{last-sell-time|json|safe}}
  </div>
  <div>
    first buy cny: {{first-buy-cny|json|safe}}
  </div>
  <div>
    last sell cny: {{last-sell-cny|json|safe}}
  </div>
  <div>
    diff cny: {{diff-cny|json|safe}}
  </div>
  <div>
    last kline watcher time: {{last-kline-watcher-time|json|safe}}
  </div>
  <div>
    last chance watcher time: {{last-chance-watcher-time|json|safe}}
  </div>
{% endblock %}
